<html>
  <head>
    <title>Testing Google Authenticator</title>
  </head>
  <body>

    <form method="post" action="/register">
      username: <input type="text" name="Username"><br>
      password: <input type="text" name="Password"><br>
      <input type="submit" name="register" value="Register">
    </form>

    <form method="post" action="/login">
      username: <input type="text" name="Username"><br>
      password: <input type="text" name="Password"><br>
      google authenticator: <input type="text" name="GoogleAuth"><br>
      <input type="submit" name="login" value="Login">
    </form>


  </body>
</html>